<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>原图</string>
		<key>image</key>
		<string>filter_0.png</string>
		<key>sel_image</key>
		<string>filter_selected_0.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自然</string>
		<key>image</key>
		<string>filter_1.png</string>
		<key>sel_image</key>
		<string>filter_selected_1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白露</string>
		<key>image</key>
		<string>filter_2.png</string>
		<key>sel_image</key>
		<string>filter_selected_2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冷调</string>
		<key>image</key>
		<string>filter_3.png</string>
		<key>sel_image</key>
		<string>filter_selected_3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月光</string>
		<key>image</key>
		<string>filter_4.png</string>
		<key>sel_image</key>
		<string>filter_selected_4.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>复古</string>
		<key>image</key>
		<string>filter_5.png</string>
		<key>sel_image</key>
		<string>filter_selected_5.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>清凉</string>
		<key>image</key>
		<string>filter_6.png</string>
		<key>sel_image</key>
		<string>filter_selected_6.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>回忆</string>
		<key>image</key>
		<string>filter_7.png</string>
		<key>sel_image</key>
		<string>filter_selected_12.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>秋色</string>
		<key>image</key>
		<string>filter_8.png</string>
		<key>sel_image</key>
		<string>filter_selected_13.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美白</string>
		<key>image</key>
		<string>filter_9.png</string>
		<key>sel_image</key>
		<string>filter_selected_14.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉嫩</string>
		<key>image</key>
		<string>filter_10.png</string>
		<key>sel_image</key>
		<string>filter_selected_15.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暖茶</string>
		<key>image</key>
		<string>filter_11.png</string>
		<key>sel_image</key>
		<string>filter_selected_17.png</string>
	</dict>
</array>
</plist>
