<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mtotal</key>
	<integer>0</integer>
	<key>comments</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>praise</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>service</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>system</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>focus</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>answer</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
	<key>care</key>
	<dict>
		<key>number</key>
		<integer>0</integer>
		<key>content</key>
		<string></string>
		<key>time</key>
		<string></string>
	</dict>
</dict>
</plist>
