<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>icon</key>
			<string>tag_category_1.png</string>
			<key>img</key>
			<string>category_1.png</string>
			<key>name</key>
			<string>上衣</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon</key>
			<string>tag_category_2.png</string>
			<key>img</key>
			<string>category_2.png</string>
			<key>name</key>
			<string>连衣裙</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>icon</key>
			<string>tag_category_3.png</string>
			<key>img</key>
			<string>category_3.png</string>
			<key>name</key>
			<string>半身裙</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>icon</key>
			<string>tag_category_4.png</string>
			<key>img</key>
			<string>category_4.png</string>
			<key>name</key>
			<string>裤子</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>icon</key>
			<string>tag_category_5.png</string>
			<key>img</key>
			<string>category_5.png</string>
			<key>name</key>
			<string>外套</string>
		</dict>
	</array>
	<key>scene</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>icon</key>
			<string>tag_scene_1.png</string>
			<key>img</key>
			<string>scene_1.png</string>
			<key>name</key>
			<string>职场</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>icon</key>
					<string>tag_style_2.png</string>
					<key>img</key>
					<string>style_2.png</string>
					<key>name</key>
					<string>简约</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon</key>
			<string>tag_scene_2.png</string>
			<key>img</key>
			<string>scene_2.png</string>
			<key>name</key>
			<string>度假</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>icon</key>
					<string>tag_style_1.png</string>
					<key>img</key>
					<string>style_1.png</string>
					<key>name</key>
					<string>小清新</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>icon</key>
					<string>tag_style_2.png</string>
					<key>img</key>
					<string>style_2.png</string>
					<key>name</key>
					<string>简约</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>icon</key>
					<string>tag_style_5.png</string>
					<key>img</key>
					<string>style_5.png</string>
					<key>name</key>
					<string>软萌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>icon</key>
			<string>tag_scene_3.png</string>
			<key>img</key>
			<string>scene_3.png</string>
			<key>name</key>
			<string>Live</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>icon</key>
			<string>tag_scene_5.png</string>
			<key>img</key>
			<string>scene_5.png</string>
			<key>name</key>
			<string>约会</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>icon</key>
					<string>tag_style_1.png</string>
					<key>img</key>
					<string>style_1.png</string>
					<key>name</key>
					<string>小清新</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>icon</key>
					<string>tag_style_2.png</string>
					<key>img</key>
					<string>style_2.png</string>
					<key>name</key>
					<string>简约</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>icon</key>
					<string>tag_style_5.png</string>
					<key>img</key>
					<string>style_5.png</string>
					<key>name</key>
					<string>软萌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>icon</key>
			<string>tag_scene_7.png</string>
			<key>img</key>
			<string>scene_7.png</string>
			<key>name</key>
			<string>街拍</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>icon</key>
					<string>tag_style_1.png</string>
					<key>img</key>
					<string>style_1.png</string>
					<key>name</key>
					<string>小清新</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>icon</key>
					<string>tag_style_2.png</string>
					<key>img</key>
					<string>style_2.png</string>
					<key>name</key>
					<string>简约</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>icon</key>
					<string>tag_style_5.png</string>
					<key>img</key>
					<string>style_5.png</string>
					<key>name</key>
					<string>软萌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>icon</key>
			<string>tag_scene_8.png</string>
			<key>img</key>
			<string>scene_8.png</string>
			<key>name</key>
			<string>居家</string>
			<key>style</key>
			<array>
				<dict>
					<key>id</key>
					<integer>1</integer>
					<key>icon</key>
					<string>tag_style_1.png</string>
					<key>img</key>
					<string>style_1.png</string>
					<key>name</key>
					<string>小清新</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>2</integer>
					<key>icon</key>
					<string>tag_style_2.png</string>
					<key>img</key>
					<string>style_2.png</string>
					<key>name</key>
					<string>简约</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>5</integer>
					<key>icon</key>
					<string>tag_style_5.png</string>
					<key>img</key>
					<string>style_5.png</string>
					<key>name</key>
					<string>软萌</string>
				</dict>
				<dict>
					<key>id</key>
					<integer>6</integer>
					<key>icon</key>
					<string>tag_style_6.png</string>
					<key>img</key>
					<string>style_6.png</string>
					<key>name</key>
					<string>性感</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>style</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>icon</key>
			<string>tag_style_1.png</string>
			<key>img</key>
			<string>style_1.png</string>
			<key>name</key>
			<string>小清新</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>icon</key>
			<string>tag_style_2.png</string>
			<key>img</key>
			<string>style_2.png</string>
			<key>name</key>
			<string>简约</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>icon</key>
			<string>tag_style_5.png</string>
			<key>img</key>
			<string>style_5.png</string>
			<key>name</key>
			<string>软萌</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>icon</key>
			<string>tag_style_6.png</string>
			<key>img</key>
			<string>style_6.png</string>
			<key>name</key>
			<string>性感</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>icon</key>
			<string>tag_style_9.png</string>
			<key>img</key>
			<string>style_9.png</string>
			<key>name</key>
			<string>欧美</string>
		</dict>
	</array>
</dict>
</plist>
